---
layout: archive
---

<p>I will start my Ph.D. at the University of Michigan and work with Professor Walter Lasecki!</p>

<h3>HCI Researcher</h3>
<p>I am John Joon Young Chung, a research intern working with Professor <a href="https://juhokim.com">Juho Kim</a> at <a href="https://kixlab.org">KIXLAB</a>, KAIST, and a prospective Ph.D. student who will work with Professor <a href="https://web.eecs.umich.edu/~wlasecki/">Walter Lasecki</a> at <a href="http://web.eecs.umich.edu/~wlasecki/croma.html">CROMA Lab</a>, the University of Michigan. My research area is human-computer interaction focused on crowdsourcing. I am specifically interested in how to leverage diverging and diverse characteristics of crowds in the system. My current research questions include topics like how to preserve the diversity of interpretative labels while controlling the quality of them, and how to aggregate diverging contributions of crowd workers rather than picking one optimal solution, without hurting diversity.
</p>
<p>
To learn more about what I am researching on, please check Current Research. Also, my past works are posted in Publications.
</p>

<h3>Game Developer and Musician</h3>
<p>
In my free time, I enjoy video games, ranging from AAA games to experimental indie games, and also prototype some simple games with my friends. I learned how users interact with a computer through prototyping experiences and how to collaborate with people, sharing and managing ideas.
When I was undergraduate, I used to listen and compose really heavy but melodic tunes.
</p>
<p>
I showcase some of the results from my free-time-activities. You can check some of the descriptions, or videos of games I prototyped in <a href="{{domain}}/game/">Game</a>, and I posted tunes I composed in <a href="{{domain}}/music/">Music</a>.
</p>

<h3 class="archive__subtitle"><a href="{{domain}}/research/">Current Research</a></h3>

{% for research in site.categories.research %}
<div class="row">
<div class="col-xs-2">
  <img src="{{"/assets/image/research/"}}{{research.img}}" style="margin-top:10px"/>
</div>

<div class="col-xs-10">
  <h4 class="archive_item-title"><a href="{{domain}}/research/">{{research.title}}</a></h4>
</div>
</div>
{% endfor %}
<h3 class="archive__subtitle">Recently developed Game</h3>

{% for game in site.categories.game limit: 1 %}
<div class="row">
<div class="col-xs-2">
  <img src="{{"/assets/image/game/"}}{{game.img}}" style="margin-top:10px"/>
</div>

<div class="col-xs-10">
  <h4 class="archive_item-title"><a href="{{domain}}/game/{{game.title}}">{{game.title}}</a></h4>
</div>
</div>
{% endfor %}
