---
layout: archive
---

<h3>HCI Researcher</h3>
<p>I am John Joon Young Chung, a second-year Ph.D. student at University of Michigan, working with <a href='http://www.cond.org/'>Eytan Adar</a>. </p>
  <!-- My research area is focused on HCI, crowdsourcing, and AI.  -->
<p>
  I am interested in designing, building, and studying computational tools for collaborative artistic creations.
  As the vehicle for the research, I enjoy drawing ideas from various fields, including AI/ML, crowdsourcing, and psychology.  
</p>

 


<h3>Music and Games</h3>
<p>
In my free time, I play guitar and compose <a href="{{domain}}/music/">some tunes</a>.
I also enjoy video games, ranging from AAA games to experimental indie games, and also prototyped <a href="{{domain}}/game/">some games</a> with my friends. 
</p>

<h3 class="archive__subtitle"><a href="{{domain}}/research/">Current Research</a></h3>

<!-- {% for research in site.categories.research %}
<div class="row">
<div class="col-xs-2">
  <img src="{{"/assets/image/research/"}}{{research.img}}" style="margin-top:10px"/>
</div>

<div class="col-xs-10">
  <h4 class="archive_item-title"><a href="{{domain}}/research/">{{research.title}}</a></h4>
</div>
</div>
{% endfor %} -->

<h3 class="archive__subtitle"><a href="{{domain}}/research/">Recent Publications</a></h3>

{% for publication in site.categories.publications %}
{% if publication.type=="full" %}
<div class="row">

<div class="col-xs-12">
  <h4 class="archive_item-title"><a href="{{domain}}/assets/publications/{{publication.pdf}}">{{publication.title}}</a></h4>
  <h5>{{publication.authors}} </h5>
  <h5>{{publication.venue}}</h5>
</div>
</div>
{% endif %}
{% endfor %}